<p align="right">
	It is now <%= Time.now %>
</p>



<h1 align="center">Happy Florist Shop </h1>

<p align="center"> Welcome to our page. We would be very happy to offer you a range of different flowers and products. Enjoy!</p>


<img src="http://floristsillinois.com/wp-content/uploads/2009/07/florist-downers-grove1.jpg" />


<br/>
			<div style="margin:8px 0 8px 0" class="vcard">
				<b style='color:#888888;font-size:16px' class='fn n'>
					<span class="given-name">Happy</span> 
					<span class="family-name">Florist
				<table cellpadding='0' cellspacing='0' width='680px' style='border:0;table-layout:auto;white-space:normal;color:#5f5f5f;width:650px;font-size:10px'>
					<tbody>
						<tr>
							<td colspan='3'>
								<hr style='border:0;color:#696969;background-color:#696969;height:1px;' />
							</td>
						</tr>
						<tr>
							<td width='100px' style='vertical-align: top' rowspan='3' align='left'>
								<img style='width: 100px' width='100px' src='http://qrfree.kaywa.com/?s=8&d=name%3A+Happy+Florist%0Aemail%3A+happyflorist%40gmailcom' />
							</td>
							<td width="400px" align='center' style="vertical-align: top;font-family:arial,helvetica,sans-serif">
								<span>
									<br/> <br />
									<span class='tel'>
										<span style="color: #466BB0;font-weight: bold" >Address</span>
										<a class='email' href='http://www.google.ie/search?sourceid=chrome&ie=UTF-8&q=53.381869%2C-6.275983' target='_blank'>
										<span style='color:#5f5f5f' class='value'>65a Ballygal road East, Glassnevin, Dublin 11</span>
									</a>
										<br />
										<span  style='color:#466BB0;font-weight:bold'>
											<abbr class='type' title='cell'>Mobile:</abbr>
										</span> 
										<span class='value'>+353879347616</span>
									</span><br/>
									<span style='color:#466BB0;font-weight:bold'>E-mail:</span> 
									<a class='email' href='happyflorist@gmail.com' target='_blank'>
										<span style='color:#5f5f5f' class='value'>happyflorist@gmail.com</span>
									</a>
								
								<td rowspan='4' align='right' width='300px' style='vertical-align: top;font-family:arial,helvetica,sans-serif'>
								
 <img style='width:200px' height="200px" alt='avatar' src='http://www.stranges.com/store/ProdImages/happy%20flowers.jpg' />
</a><br />
								</td>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>